* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
html {
    --babyblue: #8AAAE5;
    --white: #FFFFFF;
    --peach: #FFFFFF;
    --burntorange: #EE4E34;
}
@font-face {
    font-family: 'custom_font';
    src: url('https://fonts.googleapis.com/css?family=Sofia') format('woff2');
   }
body {
    width: 100%;
    height: 100vh;
    margin: 0px auto;
}
#home {
    box-sizing: border-box;
    height: 100vh;
    background-color: var(--babyblue);
    color: var(--babyblue);
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    height: 70px;
}
.logo {
    font-size: 18px;
    color: var(--peach);
}
.logo span {
    color: var(--peach);
}
.navbar ul {
    list-style: none;
}
.navbar ul li {
    display: inline-block;
    padding: 0px 20px;
}
.navbar ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--peach);
    font-size: 20px;
}
#hamburger {
    cursor: pointer;
    user-select: none;
    display: none;
}
.bar {
    width: 26px;
    height: 3px;
    background-color: var(--babyblue);
    margin: 5px auto;
    border-radius: 5px;
    transition: 0.4s cubic-bezier(1, 0.2, 0.2, 1);
}
#intro {
    height: calc(100vh - 70px);
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-position: right center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.intro_text {
    padding: 0 8%;
}
.intro_text p {
    color: var(--peach);
}
.intro_text h1 {
    color: var(--peach);
    font-size: 50px;
    padding: 8px 0px;
}
.intro_text button {
    padding: 10px 12px;
    border: 2px solid var(--peach);
    border-radius: 20px;
    outline: none;
    color: var(--burntorange);
    margin-top: 40px;
    transition: all 0.4s;
}
.intro_text button:hover {
    color: greenyellow;
}
.socials {
    position: absolute;
    bottom: 60px;
    left: 8%;
}
.socials a i {
    font-size: 24px;
    padding-right: 20px;
    color: var(--burntorange);
    transition: 0.4s;
}
.socials a i:hover {
    color: greenyellow;
    transform: scale(1.2);
}
@media (max-width: 768px) {
    #hamburger {
        display: block;
    }
    .navbar ul {
        position: absolute;
        width: 250px;
        height: calc(100vh - 70px);
        top: 70px;
        right: 0px;
        background-color: var(--babyblue);
        border-radius: 30% 0% 0% 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-top: 2px solid white;
        transition: right 0.4s cubic-bezier(1, 0.2, 0.2, 1);
    }
    .navbar ul li {
        padding: 20px;
    }
}



#aboutme {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--babyblue);
}
.aboutme_container {
    padding: 50px 8%;
}
.aboutme_contents {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: 70px;
}
.myimg {
    position: relative;
    min-width: 300px;
    height: 380px;
}
#bioimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
.bio h1{
    color: var(--peach);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
}
.bio h2 {
    font-size: 20px;
}
.bio p {
    font-size: 18px;
    line-height: 1.2;
    text-align: justify;
    padding-bottom: 5px;
    padding-top: 5px;
}
.personal_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
    margin-top: 14px;
    padding-bottom: 1px;
    border-bottom: 1px solid black;
}
.personal_info div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.personal_info span {
    color: var(--peach);
}
.button {
    min-width: 150px;
    padding: 8px 18px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: var(--peach);
    color: black;
    cursor: pointer;
    transition: all 0.4s;
    margin-top: 20px;
}
.button:hover {
    color: pink;
    border-color: var(--burntorange);
}
@media (max-width:668px) {
    .personal_info {
        grid-template-columns: 1fr;
    }
}
#container {
    min-height: 100vh;
    background-color: var(--babyblue);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 10%;
    padding-right: calc(10% - 30px);
}
.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}
#title {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--peach);
    padding: 0px 0px 20px 30px;
}
.contents {
    padding: 0px 30px;
    border-left: 2px solid black;
}
.box {
    position: relative;
    padding: 20px;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 10px;
}
.box:hover {
    box-shadow: 0px 3px 12px 0px var(--burntorange);
    border: 1px solid transparent;
}
.box h4 {
    position: relative;
    color: var(--peach);
}
.box h3 {
    font-size: 19px;
    padding: 10px 0px 6px;
    font-family: Arial, Helvetica, sans-serif;
}
.box p {
    line-height: 1.2;
    font-size: 17px;
}
@media(max-width: 768px) {
    .row {
        grid-template-columns: 1fr;
    }
    .row.col:nth-child(2) {
        margin-top: 30px;
    }
}

#skills {
    box-sizing: border-box;
    min-height: 100vh;
    background-color: var(--babyblue);
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills_container {
    background-color: var(--babyblue);
    padding: 10px 30px;
}
.skills_title {
    max-width: 700px;
    margin: 0px auto 45px;
    margin-top: 20px;
    text-align: center;
}
.skills_title h1 {
    position: relative;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    display: inline-block;
}
.skills_title p {
    font-size: 18px;
}
.skills_container_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skills_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 20%;
    text-align: center;
    margin: auto;
    padding: 30px 40px;
    background-color: var(--peach);
    border: 1px solid var(--burntorange);
    margin-bottom: 20px;
    cursor: pointer;
}
.skills_box:hover {
    transform: translateY(-2px);
    box-shadow: 0px 3px 12px 0px black;
}
.skills_box i {
    font-size: 30px;
    color: green;
    transition: 0.3s;
}
.skills_box:hover {
    color:lightsalmon;
}
.skills_box:hover i {
    color: lightsalmon
}
.skills_box h2 {
    padding: 15px 0px 5px;
    color: var(--burntorange);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.skills_box p {
    line-height: 1.3;
}
@media (max-width: 1000px) {
    .skills_box {
        flex-basis: 37%;
    }
}
@media (max-width: 600px) {
    .skills_box {
        flex-basis: 100%;
    }
}
#projects {
    box-sizing: border-box;
    min-height: 100vh;
    background-color: var(--babyblue);
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects_container {
    background-color: var(--babyblue);
    padding: 20px 30px;
}
.projects_title {
    max-width: 700px;
    margin: 0px auto 45px;
    text-align: center;
}
.projects_title h1 {
    position: relative;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    display: inline-block;
}
.projects_title p {
    font-size: 18px;
}
.projects_container_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.projects_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 20%;
    text-align: center;
    margin: auto;
    padding: 30px 40px;
    background-color: var(--peach);
    border: 1px solid var(--burntorange);
    margin-bottom: 20px;
    cursor: pointer;
}
.projects_box:hover {
    transform: translateY(-2px);
    box-shadow: 0px 3px 12px 0px black;
}
.projects_box i {
    font-size: 30px;
    color: green;
    transition: 0.3s;
}
.projects_box:hover {
    color:lightsalmon;
}
.projects_box:hover i {
    color: lightsalmon
}
.projects_box h2 {
    padding: 15px 0px 5px;
    color: var(--burntorange);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.projects_box p {
    line-height: 1.3;
}
@media (max-width: 1000px) {
    .projects_box {
        flex-basis: 37%;
    }
}
@media (max-width: 600px) {
    .projects_box {
        flex-basis: 100%;
    }
}
#HW4 {
    min-height: 20vh;
    background-color: var(--babyblue);
}
#HW4 h1 {
    text-align: center;
}
.navbar_2 {
    padding: 40px 40px 40px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
    height: 70px;
}
.navbar_2 ul {
    list-style: none;
}
.navbar_2 ul li {
    display: inline-block;
    padding: 0px 20px;
}
.navbar_2 ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--peach);
    font-size: 20px;
}



.switch-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 15px;
	border-radius: 10px;
	background-color: var(--babyblue);
}
.switch-label{
	display: inline-block;
	font-size: 20px;
	font-weight: bolder;
	color: var(--peach);
	letter-spacing: 1px;
}
.switch-label i{
	font-size: 22px;
	margin-right: 5px;
}
.switch-btn{
	position: relative;
	display: inline-block;
	width: 40px;
	height: 22px;
    margin-left: 4px;
    background-color: var(--peach);
    border: 3px solid #323232;
    border-radius: 25px;
    cursor: pointer;
}
.switch-container .switch-btn:before{
	position: absolute;
	content: 'OFF';
	font-size: 13px;
	font-weight: bold;
	height: 10px;
	top: 50%;
	transform: translateY(-50%);
	left: 3px;
	right: calc(100% - calc(6px + 30px));
	color: greenyellow;
	display: flex;
	justify-content: center;
	align-items: center;
}
body.active {
	--babyblue: #AA96DA;
    --peach: #C5FAD5;
    --burntorange: #FFFFD2;
}
body.active #intro {
    background-image: url("bg_theme.png");
}
body.active .switch-container .switch-btn::before{
	content: 'ON';
	left: calc(100% - calc(6px + 30px));
	right: 3px;
    /* background-color: var(--burntorange); */
    color: var(--burntorange);
}

/* #FFFFD2 */
/* #C5FAD5 */